/*.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; 
    height: 100vh;
    background-color: rgb(240, 241, 235);
  }
*/
.node-editor-container {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    height: 100%;
}

.edit-text{
    border: 1px solid black;
    border-radius: 8px;
    color: lightslategray;
}

.formik-container {
    padding: 20px;
}

.addNode-errMsg{
    color: red;
    align-self: center;
    width: 250px;
    /* margin-top: 10px; */
}

.graphingTool{
    margin-bottom: 10px;
    border: #1C8878 solid 2px;
    
    border-radius: 2px;
}