.top-down{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%; 
    background-color: rgb(240, 241, 235);
}

.top-down-logo-container{
    display: flex;
    flex-direction: row;
    background-color: rgba(6, 6, 94, 0.911);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.top-down-logo{
    width: 150px;
    height: 150px;
    object-fit: contain;
    align-items: center;
}

.top-down-container {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    height: 100%;
}

.top-down-side-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 100%;
    background-color: #23AE9A;
}

.top-down-main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white;
    padding-left: 160px;
    padding-right: 160px;
    padding-bottom: 40px;
}

.top-down-main-container p{
    padding-top: 40px;
}

.top-down-main-container h1{
    padding-top: 40px;
}

.top-down-button{
    width: 40%;
    height: 50px;
    background-color: #1B1B6B;
    color: #23AE9A;
    border: 1px solid;
    border-radius: 2px;
    margin-top: 75px;
    cursor: pointer;
    align-items: center;
}

.top-down-button:hover{
    background-color: #3B3B6B;
}

.top-down-side-container p{
    font-size: 20px;
    margin-top: 15px;;
    padding-right:18px ;
}  

.top-down-side-container b{
    font-size: 35px;
    margin-top: 30px;
    padding-left:30px ;
    padding-right:18px ;
    color : #1B1B6B;
} 

.top-down-side-container h1{
    font-size: 50px;
    margin-top: 20px;
    padding-left:30px ;
    padding-right:18px ;
    color : #1B1B6B;
} 

.top-down-side-container h3{
    padding-left:30px ;
    padding-right:18px ;
    color : #1B1B6B;
} 

.profile-pic{
    width: 75px;
    height: 75px;
    object-fit: contain;
    align-items: center;
    padding: 20px;
}

.profile-container{
    display: flex;
    flex-direction: row;
}

.profile-details-container{
    display: flex;
    flex-direction: column;
}

.achievement{
    display: flex;
    flex-direction: row;
    color: #1B1B6B;
}

.achievement-pic{
    width: 20px;
    height: 20px;
    object-fit: contain;
    align-items: center;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.title{
    font-size: 35px;
    color: #23AE9A;
}

.subtitle{
    font-size: 20px;
    color: #23AE9A;
}

.headerTitles{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}