  .nav{
    display: flex;
    flex-direction: row;
    background-color: rgba(6, 6, 94, 0.911);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}
.navLink{
    font-size: 17.5px;
    color: #23AE9A;
    margin-right: 15px;
}
.navbar-collapse{
    margin-right: 90px;
    font-family: 'Amaranth', sans-serif;
}

.navLink:hover {
    color: whitesmoke;
}
.navLogo{
    margin-left: 95px;
}


.top-down{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%; 
    background-color: rgb(240, 241, 235);
}

.top-down-logo-container{
    display: flex;
    flex-direction: row;
    background-color: rgba(6, 6, 94, 0.911);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.top-down-logo{
    width: 150px;
    height: 150px;
    object-fit: contain;
    align-items: center;
}

.top-down-container {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    height: 100%;
}

.top-down-side-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 100%;
    background-color: #23AE9A;
    font-family: 'Amaranth', sans-serif;
}

.top-down-main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color:aliceblue;
    padding-left: 160px;
    padding-right: 160px;
    /* padding-bottom: 40px; */
    margin-bottom: 0;
    
}

.top-down-main-container p{
    padding-top: 40px;
    font-size: 20px;
    margin-top: 15px;;
    padding-right:18px ;
    flex-direction: column;
    overflow-y: scroll;
    height: 70%;
}

.top-down-main-container h1{
    padding-top: 40px;
}

.top-down-button{
    width: 40%;
    height: 50px;
    background-color: #1B1B6B;
    color: #23AE9A;
    border: 1px solid;
    border-radius: 2px;
    margin-top: 75px;
    cursor: pointer;
    align-items: center;
}

.top-down-button:hover{
    background-color: #3B3B6B;
} 

.top-down-side-container b{
    font-size: 35px;
    margin-top: 30px;
    padding-left:30px ;
    padding-right:18px ;
    color : #1B1B6B;
} 

.top-down-side-container h1{
    font-size: 50px;
    margin-top: 20px;
    padding-left:30px ;
    padding-right:18px ;
    color : #1B1B6B;
} 

.top-down-side-container h3{
    padding-left:30px ;
    padding-right:18px ;
    color : #1B1B6B;
} 

.intro-container p{
    padding-top: 40px;
    font-size: 20px;
    margin-top: 15px;;
    padding-right:18px ;
}

.profile-pic{
    width: 75px;
    height: 75px;
    object-fit: contain;
    align-items: center;
    padding: 20px;
}

.profile-container{
    display: flex;
    flex-direction: row;
}

.profile-details-container{
    display: flex;
    flex-direction: column;
}

.achievement{
    display: flex;
    flex-direction: row;
    color: #1B1B6B;
}

.achievement-pic{
    width: 20px;
    height: 20px;
    object-fit: contain;
    align-items: center;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.title{
    font-size: 35px;
    color: #23AE9A;
}

.subtitle{
    font-size: 20px;
    color: #23AE9A;
}

.question-button{
    width: 20%;
    height: 40px;
    margin-bottom: 10px;
    background-color: #23AE9A;
    color: #000000;
    border: 1px solid #1B1B6B;
    border-radius: 25px;
    margin-top: 0;
    cursor: pointer;
    align-items: center;
    font-family: 'Amaranth', sans-serif;
}

.next-question-button{
    width: 35%;
    height: 40px;
    margin-bottom: 10px;
    background-color: #1B1B6B;
    color: #ffffff;
    border: 1px solid #23AE9A;
    border-radius: 25px;
    margin-top: 0;
    margin-left: 14px;
    font-size: 13px;
    cursor: pointer;
    align-items: center;
    font-family: 'Amaranth', sans-serif;
}

.top-down-button:hover{
    background-color: #3B3B6B;
}

.headerTitles{
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    float: right;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.graphingTool{
    height: 80%;
    padding: 0;
    margin-bottom: 0;
    font-family: 'Amaranth', sans-serif;
}

.question-h3{
    padding-top: 20px;
    font-family: 'Luckiest Guy', cursive;
}

.question-state-btn, .details-state-btn{
    margin-top: 10px;
    background-color: #23AE9A;
    border: none;
    font-weight: bold;
    font-size: 22px;
    font-family: 'Luckiest Guy', cursive;
}

.question-state-btn{
    border-right: #000000 1px solid;
}

.state-btn::after{
    color: #23AE9A;
    text-decoration: underline;
}

.question-text{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 2px 20px ;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%; 
    font-family: 'Amaranth', sans-serif;    
}

.question-text::-webkit-scrollbar {
    width: 8px;             
  }

/* Track */
.question-text::-webkit-scrollbar-track {
background:   #1B1B6B;    
border: #1B1B6B 1px solid;
border-radius: 15px;
}

/* Handle */
.question-text::-webkit-scrollbar-thumb {
background-color:   #645797; 
border-radius: 25px;
}

/* Handle on hover */
.question-text::-webkit-scrollbar-thumb:hover {
background: rgb(127, 150, 255); 
}

.edit-container{
    width: 40%;
}




